/* rect:hover {
  fill: YellowGreen;
} */

body {
  font-family: sans-serif;
}

h2 {
  margin-bottom: 0;
}

p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

#datos {
  margin-bottom: 1em;
}

#fecha, #casos, #incidencia {
  display: inline-block;
  width: 10em;
}

svg {
  margin-right: 40px;
}

.axis {
  font-size: 12px;
}
